In [1]:
import sys
import pandas as pd
import numpy as np
from collections import defaultdict
from scipy.optimize import minimize
from csv import DictReader

from glicko import run_league, read_csv

See [NathanDeMaria/EndGame/ncaa_fb.R](https://github.com/NathanDeMaria/EndGame/blob/f1b61777e1550575ed4d23d1ee2920ecf1bb01dd/ncaa_fb.R) for the `.csv`s

In [2]:
conferences_path = './ncaaf_conferences.csv'
games_path = './ncaaf.csv'

In [3]:
fbs_conferences = {
    # Power 5
    1, 4, 5, 8, 9,
    # Group of 5
    12, 15, 151, 17, 37, 
    # Indep
    18,
}

conferences = pd.read_csv(conferences_path)
fbs_lookup = {
    row.team: (row.team_conf in fbs_conferences)
    for _, row in conferences.iterrows()
}
def is_fbs(team_name: str) -> bool:
    return fbs_lookup[team_name]

In [4]:
league = read_csv(games_path)

In [5]:
def create_offseason_runner(
    init_variance: float,
    variance_over_time: float,
    fbs_advantage: float,
):
    def run_offseason(league, season: int) -> None:
        for team in league.teams:
            try:
                mean, var = team.rating
                team.update_rating(
                    (mean, var + variance_over_time),
                    season,
                    0
                )
            except ValueError:
                # i.e. this was the first season.
                multiplier = .5 if is_fbs(team.name) else -.5
                team.update_rating((1500 + fbs_advantage * multiplier, init_variance), season, 0)
    return run_offseason

In [6]:
def evaluate(x):
    runner = create_offseason_runner(*x)
    
    # reset hack
    for team in league.teams:
        team._ratings = dict()
        team.games = defaultdict(list)
    
    return run_league(league, runner)[0]

In [7]:
init = [132653.8137034986, 23135.41931163794, 557.4684194903585]

In [8]:
result = minimize(
    evaluate,
    x0=np.array(init),
    options=dict(disp=True),
    bounds=((0, None), (0, None), (0, None))
)

init = list(result.x)

In [8]:
print(init)

[132653.8137034986, 23135.41931163794, 557.4684194903585]

In [9]:
runner = create_offseason_runner(*init)

# reset hack
for team in league.teams:
    team._ratings = dict()
    team.games = defaultdict(list)

discrepancy, teams = run_league(league, runner)

In [10]:
# Top teams
for i, t in enumerate(sorted(teams, key=lambda x: -x.rating[0])):
    games = t.games[2018]
    wins = len([g for g in games if g.score > .5])
    losses = len(games) - wins
    print(i + 1, f'({wins}-{losses})', t.name, t.rating)

1 (8-0) Alabama Crimson Tide (2242.8505807676306, 20594.69328795934)
2 (8-0) Clemson Tigers (2171.573549322579, 16072.312830275216)
3 (7-1) Georgia Bulldogs (2116.2998579694213, 14549.762329036845)
4 (7-1) LSU Tigers (2085.8124447871855, 12788.612820247567)
5 (7-1) Oklahoma Sooners (2084.3731607066325, 13597.264106143568)
6 (7-1) Michigan Wolverines (2078.2826819209313, 12789.75769162057)
7 (7-1) Ohio State Buckeyes (2072.717871825869, 15359.487988677549)
8 (6-2) Washington Huskies (2071.8965236241356, 13644.622767022234)
9 (6-2) Penn State Nittany Lions (2055.4890541961017, 14166.993911845217)
10 (7-0) Notre Dame Fighting Irish (2054.2164658259, 13765.849728773383)
11 (6-2) Iowa Hawkeyes (2044.7808807727954, 12435.64659537782)
12 (6-2) Utah Utes (2014.5611182796902, 12530.968894021908)
13 (5-2) Stanford Cardinal (2011.297135816114, 13457.875907103225)
14 (5-3) Auburn Tigers (2009.2685634534018, 14336.928799736901)
15 (5-3) Wisconsin Badgers (1999.9059697944026, 15493.085754893555)
16 (0-0) North Dakota State Bison (1999.4840371850594, 106710.73548439919)
17 (5-2) Texas A&M Aggies (1976.4958800455986, 15579.244184278159)
18 (6-1) West Virginia Mountaineers (1974.6548020280352, 13218.235228920576)
19 (6-2) Florida Gators (1973.2914094860075, 13172.052443381586)
20 (6-1) Texas Longhorns (1973.0919552361215, 13048.612642495325)
21 (6-1) Washington State Cougars (1971.9934524667103, 14435.287638285703)
22 (7-1) Kentucky Wildcats (1969.7781950853105, 12775.718061444764)
23 (7-0) UCF Knights (1966.998601990721, 15621.686055894665)
24 (5-1) NC State Wolfpack (1950.4447918647636, 15654.228594381195)
25 (4-3) Mississippi State Bulldogs (1949.6249840705973, 14354.641940190459)
26 (4-3) Iowa State Cyclones (1944.047703088171, 13002.653321207375)
27 (6-1) Fresno State Bulldogs (1940.447582723184, 13369.356328590804)
28 (5-3) Michigan State Spartans (1939.447382117527, 12161.134205248889)
29 (5-3) Miami Hurricanes (1936.2657740237082, 13770.780101152124)
30 (4-4) Purdue Boilermakers (1933.465711415299, 11874.435995226775)
31 (4-3) Virginia Tech Hokies (1932.162259772648, 14731.417907854842)
32 (3-5) TCU Horned Frogs (1930.0290269719767, 13357.492824142926)
33 (6-2) Boston College Eagles (1920.959163394324, 12592.429104045224)
34 (5-3) Texas Tech Red Raiders (1918.7771509125682, 12421.909548400812)
35 (4-3) Oklahoma State Cowboys (1913.848536465671, 15621.232486714905)
36 (4-4) Missouri Tigers (1912.5197349350153, 13410.340128310852)
37 (5-2) Oregon Ducks (1912.4774624988097, 14709.291299500464)
38 (5-3) Northwestern Wildcats (1911.0384235189013, 12441.008494513895)
39 (4-4) USC Trojans (1909.4351572906455, 11958.016602446141)
40 (3-3) South Carolina Gamecocks (1906.2700028007162, 14738.480916521718)
41 (5-3) Duke Blue Devils (1901.694558501679, 12163.746400540567)
42 (4-4) Georgia Tech Yellow Jackets (1900.1848313068615, 13475.957972988437)
43 (4-4) Arizona State Sun Devils (1895.4550098282127, 12283.858323386523)
44 (6-2) Virginia Cavaliers (1894.2650217890714, 12239.647381294017)
45 (5-2) Boise State Broncos (1885.0803557464194, 13965.247177505558)
46 (5-3) Colorado Buffaloes (1883.0630401258447, 12535.935319687787)
47 (7-1) Houston Cougars (1881.0482138222, 13529.81302771498)
48 (5-2) Syracuse Orange (1872.8058100330577, 14855.33890755327)
49 (5-3) Ole Miss Rebels (1863.9795659074334, 14433.483006153532)
50 (4-4) Florida State Seminoles (1861.8089526131835, 12773.066226272847)
51 (4-4) Pittsburgh Panthers (1858.5524300424797, 12530.07482039049)
52 (5-3) Temple Owls (1854.8611037875078, 11891.194309374761)
53 (4-4) Minnesota Golden Gophers (1853.7122703149967, 12401.791320677092)
54 (5-2) Appalachian State Mountaineers (1844.552672665037, 15640.999229724288)
55 (6-1) San Diego State Aztecs (1844.4794253908017, 14302.567233006735)
56 (4-5) Vanderbilt Commodores (1843.6916077119706, 12025.641522251679)
57 (7-1) Utah State Aggies (1843.5950320147565, 12503.652263389326)
58 (3-5) Kansas State Wildcats (1843.4071037195174, 12650.440708124306)
59 (5-3) Maryland Terrapins (1843.0935576116574, 13128.526386306987)
60 (4-5) Indiana Hoosiers (1842.1803806476005, 12016.196207075081)
61 (6-2) Army Knights (1841.7999659625145, 12319.51257522665)
62 (4-4) Wake Forest Demon Deacons (1837.7254034455639, 13655.730830236886)
63 (2-6) Nebraska Cornhuskers (1832.8483351221143, 12749.388108293706)
64 (3-4) Tennessee Volunteers (1824.0480243206466, 17252.28043030913)
65 (0-0) SMU Mustang (1821.64418869319, 436326.18495903234)
66 (4-4) Memphis Tigers (1820.03868561789, 13967.759223669838)
67 (2-6) UCLA Bruins (1819.3968833928523, 11769.986819679822)
68 (4-3) California Golden Bears (1816.1515168514477, 13751.349617826001)
69 (3-5) Arizona Wildcats (1812.6794098577634, 12296.77836430167)
70 (1-0) Illinois State Redbirds (1811.2638147624114, 65226.291828764864)
71 (7-1) South Florida Bulls (1811.1400594822558, 14407.54190660581)
72 (7-1) Cincinnati Bearcats (1805.9809829035066, 12733.899361018144)
73 (4-4) Baylor Bears (1803.8439899887157, 13465.084180939913)
74 (4-4) Toledo Rockets (1787.34549671448, 12761.292878028104)
75 (2-6) Louisville Cardinals (1786.7268109462764, 13459.804537559203)
76 (7-1) Buffalo Bulls (1783.2389699241223, 12868.817934580205)
77 (2-7) Arkansas Razorbacks (1775.487250326335, 12248.554042406857)
78 (7-2) North Texas Mean Green (1769.802185563869, 11690.298755841062)
79 (4-4) BYU Cougars (1768.8433563131534, 13492.7627171286)
80 (5-2) Marshall Thundering Herd (1766.6314747392619, 13391.54574965599)
81 (3-4) Air Force Falcons (1762.9939281034065, 13238.267023667197)
82 (1-6) North Carolina Tar Heels (1762.3101801509563, 12870.270802112427)
83 (6-2) Troy Trojans (1758.0450973180011, 13415.93144656579)
84 (6-1) UAB Blazers (1753.2903879333808, 14458.802722443814)
85 (5-3) Ohio Bobcats (1748.7066758564074, 13072.888780533787)
86 (5-3) Northern Illinois Huskies (1748.570567930634, 12324.442345350126)
87 (6-3) Western Michigan Broncos (1748.284621581283, 12376.881063089299)
88 (4-5) Eastern Michigan Eagles (1747.0190682761872, 11767.531878068736)
89 (6-2) Louisiana Tech Bulldogs (1736.9308933286843, 13888.345098292993)
90 (2-5) Tulane Green Wave (1736.704294260853, 13934.290240474667)
91 (2-5) Navy Midshipmen (1732.5478589213853, 13333.29476869316)
92 (0-0) McNeese State Cowboys (1732.3917414540872, 145969.73701345755)
93 (7-1) Georgia Southern Eagles (1727.4874452638744, 13715.684727704753)
94 (0-1) James Madison Dukes (1723.2612525976676, 58969.35709105604)
95 (0-1) Tennessee State Tigers (1714.5215391181707, 75035.38228321644)
96 (5-2) Florida Intl Golden Panthers (1713.4918628542812, 14494.491642072759)
97 (4-3) Arkansas State Red Wolves (1713.4037070184113, 14818.61901906208)
98 (3-5) Kansas Jayhawks (1710.9986229768879, 14972.318964035443)
99 (3-5) Florida Atlantic Owls (1709.9378179162693, 12807.906654356246)
100 (5-3) Middle Tennessee Blue Raiders (1708.1917762741703, 12709.056146459023)
101 (0-1) Eastern Washington Eagles (1707.617498179111, 55425.43622292195)
102 (3-5) SMU Mustangs (1707.0901906516199, 13238.77800154937)
103 (4-4) Nevada Wolf Pack (1705.6738160751518, 12611.622399001653)
104 (3-5) Miami (OH) RedHawks (1703.2298861574022, 12140.090371473427)
105 (3-6) Wyoming Cowboys (1702.3367628384287, 11702.664834542378)
106 (0-1) North Dakota Fighting Hawks (1696.3381836839637, 70082.33643230746)
107 (2-6) Oregon State Beavers (1693.324106418349, 13368.171718809073)
108 (0-0) South Dakota State Jackrabbits (1691.5143674284407, 124529.99415098288)
109 (1-6) Tulsa Golden Hurricane (1690.640327406191, 13482.852872804619)
110 (1-0) Villanova Wildcats (1690.2642779337934, 62691.52144077782)
111 (3-5) Illinois Fighting Illini (1687.3366599307521, 14186.349048924396)
112 (0-0) Yale Bulldogs (1687.135885724567, 291183.1944156816)
113 (0-1) Northern Iowa Panthers (1682.2728481699198, 59354.24318174504)
114 (3-6) Colorado State Rams (1680.1880191338726, 11447.352223551283)
115 (0-1) Youngstown State Penguins (1680.041263294776, 59526.65355392754)
116 (0-0) UT San Antonio Roadrunners (1668.794311955517, 33076.80265456514)
117 (1-1) Nicholls Colonels (1664.654723884368, 53313.51212981908)
118 (0-1) South Dakota Coyotes (1657.574998673898, 70991.60483541062)
119 (3-5) New Mexico Lobos (1649.8159269329537, 13407.652627789454)
120 (2-5) East Carolina Pirates (1647.5596996807415, 14324.24540323936)
121 (4-3) Akron Zips (1645.7465908883764, 14435.79756704476)
122 (4-3) Liberty Flames (1645.7449753083179, 17830.87060049732)
123 (6-3) Hawai'i Rainbow Warriors (1643.347899694515, 11778.531628240944)
124 (0-1) Samford Bulldogs (1639.083134727992, 75379.51883824861)
125 (3-4) Southern Mississippi Golden Eagles (1632.1187026036414, 15204.361558623776)
126 (3-4) Louisiana Ragin' Cajuns (1630.3656986349222, 16028.58155121396)
127 (2-5) UNLV Rebels (1627.585438288786, 14326.500126220148)
128 (5-3) Coastal Carolina Chanticleers (1613.617096021297, 13903.069797060643)
129 (1-7) Rutgers Scarlet Knights (1613.4795363692447, 13389.627669404264)
130 (1-8) Central Michigan Chippewas (1612.5355335831973, 11563.397239085854)
131 (0-1) Richmond Spiders (1611.1384439804388, 64214.77057767546)
132 (0-1) Southern Illinois Salukis (1603.6094460145612, 64771.42086060834)
133 (0-0) Sam Houston State Bearkats (1602.5231828047724, 152937.65263497946)
134 (0-1) Central Arkansas Bears (1602.3394207495592, 57240.650948314425)
135 (3-6) UMass Minutemen (1597.187603708973, 11624.835918631821)
136 (1-0) North Carolina A&T Aggies (1591.1360821353971, 65162.13754629899)
137 (2-6) Georgia State Panthers (1589.7912520337388, 13560.244322215265)
138 (0-1) Idaho Vandals (1584.175842371373, 27993.539516851015)
139 (2-7) Old Dominion Monarchs (1583.6957105518059, 11185.496062231934)
140 (1-6) Western Kentucky Hilltoppers (1581.544395458989, 14192.077934936126)
141 (0-0) Louisiana Monroe Warhawks (1580.5814701924164, 33787.347230231906)
142 (0-0) Jacksonville State Gamecocks (1578.8485023037144, 96728.60846456987)
143 (4-4) UL Monroe Warhawks (1573.7344009857425, 21957.655785573712)
144 (0-1) Furman Paladins (1571.4236784372617, 76397.09451146868)
145 (1-7) Bowling Green Falcons (1569.6933141659288, 13275.222806153455)
146 (0-1) New Hampshire Wildcats (1565.2136905083748, 66134.2308824039)
147 (0-1) Wofford Terriers (1564.8980963136412, 66924.00896816011)
148 (0-7) San Jose State Spartans (1563.3404386447783, 15928.087825402941)
149 (0-0) The Citadel Bulldogs (1563.0198947331482, 100244.91010977962)
150 (2-6) South Alabama Jaguars (1562.5267447565845, 14011.322633054475)
151 (1-7) UConn Huskies (1559.1048834310793, 14093.45272675794)
152 (3-6) Ball State Cardinals (1557.2458948363744, 13564.979587300793)
153 (0-1) Western Illinois Leathernecks (1551.9838344584066, 56427.266870085834)
154 (2-6) New Mexico State Aggies (1551.119251919244, 12197.086921510205)
155 (0-1) William & Mary Tribe (1545.749104384519, 69063.82238162459)
156 (1-0) Northern Arizona Lumberjacks (1543.2944501314746, 64026.18186074375)
157 (4-4) Charlotte 49ers (1543.0416763984467, 14428.51708403041)
158 (3-5) UTSA Roadrunners (1541.2804190241309, 21689.33026659116)
159 (0-2) Portland State Vikings (1538.1866751694677, 37979.38253396637)
160 (1-7) Kent State Golden Flashes (1518.5139372989702, 14939.316949607106)
161 (1-1) UC Davis Aggies (1514.9019998116657, 52730.19145846537)
162 (0-0) Chattanooga Mocs (1513.0008866019518, 115513.05474442188)
163 (0-2) Eastern Kentucky Colonels (1512.055063013133, 38957.55973801468)
164 (0-1) Towson Tigers (1510.7830545961742, 68825.70570182282)
165 (0-1) Kennesaw State Owls (1503.104522588711, 206575.5724662041)
166 (0-1) Indiana State Sycamores (1486.8434649400335, 74505.26168929682)
167 (0-1) Eastern Illinois Panthers (1484.352917339456, 59127.81564656517)
168 (0-2) Southern Utah Thunderbirds (1483.7830075342176, 50738.054254925046)
169 (0-0) Northern Colorado Bears (1483.5599601194572, 132704.60704017576)
170 (0-0) Cal Poly Mustangs (1483.142120435848, 79981.77874724379)
171 (0-2) Idaho State Bengals (1473.1204125844274, 55195.03961436369)
172 (0-0) Montana State Bobcats (1466.6127150033121, 95084.38054212998)
173 (1-1) Maine Black Bears (1466.116561233319, 40334.23286574905)
174 (0-1) Albany Great Danes (1464.0684560007146, 84122.72668090969)
175 (0-0) North Dakota (1457.8043084183544, 167239.39938512607)
176 (1-6) Texas State Bobcats (1456.3433952963164, 14709.00912256453)
177 (0-0) Montana Grizzlies (1450.6947071151735, 160825.6469216198)
178 (0-1) Lehigh Mountain Hawks (1449.564965342777, 171660.2094617338)
179 (0-1) Stony Brook Seawolves (1448.9668393687334, 63285.707734434465)
180 (1-8) Rice Owls (1448.19730494296, 13294.106454352346)
181 (0-2) Southeastern Louisiana Lions (1447.839669520919, 71146.6867287853)
182 (0-1) Holy Cross Crusaders (1447.423966353261, 110784.00711592809)
183 (0-1) Weber State Wildcats (1441.185391735748, 92994.11643469972)
184 (0-2) UT Martin Skyhawks (1439.086228485242, 66414.35105192296)
185 (0-0) Delaware Blue Hens (1438.6041274082368, 106130.32647067244)
186 (0-7) UTEP Miners (1435.684147727369, 15921.959966112125)
187 (0-1) Abilene Christian Wildcats (1434.3560306144889, 61043.16301610059)
188 (0-1) Missouri State Bears (1431.4072547998496, 95776.17668578695)
189 (0-1) Rhode Island Rams (1425.4853848529135, 79132.01709963057)
190 (0-1) Mercer Bears (1425.313523527526, 165301.39970671575)
191 (0-0) Northeastern Huskies (1420.5132081069642, 271133.73179747886)
192 (0-1) Northwestern State Demons (1420.2207877312835, 81006.3183849993)
193 (0-1) Southeast Missouri State Redhawks (1405.3289183815566, 72422.82892586871)
194 (0-0) Western Carolina Catamounts (1403.9042542691138, 67686.99921830342)
195 (0-0) Bucknell Bison (1402.5485826714714, 248797.52195837366)
196 (0-0) Tennessee-Martin Skyhawks (1396.4026519234849, 150578.69512483067)
197 (0-2) Prairie View Panthers (1393.2093922027411, 69917.79493665187)
198 (0-2) Howard Bison (1391.2748192539088, 48496.90361796618)
199 (0-0) Louisiana-Monroe Warhawks (1386.9947156401277, 413559.01326873933)
200 (0-2) Bethune-Cookman Wildcats (1377.8307570933634, 54117.35597139239)
201 (0-2) Duquesne Dukes (1375.680534549591, 61455.84226311183)
202 (0-1) Sacramento State Hornets (1339.5376735904845, 81996.19371234375)
203 (0-1) McNeese Cowboys (1338.73653756273, 139425.7669972656)
204 (0-1) Grambling Tigers (1338.184156046599, 81836.39936085914)
205 (0-0) Stephen F Austin Lumberjacks (1336.9251589104204, 159161.8178581401)
206 (0-0) Hofstra Pride (1324.1074878488632, 311427.12312011723)
207 (0-1) Gardner-Webb Bulldogs (1310.7037313399446, 82766.78730616764)
208 (0-1) Fordham Rams (1310.3831064267056, 55720.147684652664)
209 (0-1) Charleston Southern Buccaneers (1300.222767135279, 88769.86535181905)
210 (0-0) Texas A&M-Commerce Lions (1292.4675558862093, 365933.3555481498)
211 (0-0) Norfolk State Spartans (1283.6130924889953, 131682.12159730596)
212 (0-1) Austin Peay Governors (1281.6338975359079, 106177.55314703859)
213 (0-1) Tennessee Tech Golden Eagles (1269.5987131960646, 121484.86997765553)
214 (0-1) VMI Keydets (1266.0966881674174, 94828.4999131859)
215 (0-1) Elon Phoenix (1249.900787279398, 103813.8146386253)
216 (0-1) Alcorn State Braves (1248.9866952275347, 116066.37744247829)
217 (0-2) Incarnate Word Cardinals (1245.2835884403514, 73150.19993299202)
218 (0-0) Colgate Raiders (1237.7612583960636, 102906.6218950414)
219 (0-0) Hampton Pirates (1235.2076647253168, 126092.8393937191)
220 (0-1) Murray State Racers (1232.8627587698877, 118638.78176098198)
221 (0-0) Prairie View A&M Panthers (1229.0368749381184, 179146.4299469003)
222 (0-0) Nicholls State Colonels (1219.9941882791154, 120065.5424318409)
223 (0-1) Houston Baptist Huskies (1214.7925981856279, 111180.51245777178)
224 (0-1) Campbell Fighting Camels (1210.2925736548095, 209587.94448771066)
225 (0-0) Citadel Bulldogs (1207.0017426546215, 508726.24048287905)
226 (0-1) Lamar Cardinals (1206.5931766440235, 109653.93896915062)
227 (0-2) South Carolina State Bulldogs (1186.9692162212305, 87052.67620628)
228 (0-1) East Tennessee State Buccaneers (1181.5863554772259, 253898.94310812515)
229 (0-2) Southern Jaguars (1181.3880633714168, 88880.44189941563)
230 (0-0) Southern University Jaguars (1177.6484619803332, 492780.04140050896)
231 (0-1) Monmouth Hawks (1177.0468511168738, 141570.77701248255)
232 (0-0) East Tenn. St. Buccaneers (1175.171595765895, 505440.4823901144)
233 (0-1) North Carolina Central Eagles (1170.9115767141213, 139074.17473506765)
234 (0-0) Morehead State Eagles (1160.5091694876542, 401661.5824361399)
235 (0-1) Stephen F. Austin Lumberjacks (1158.6145001304697, 248564.08981652142)
236 (0-2) Alabama State Hornets (1156.3917073924217, 98439.47977118849)
237 (0-0) Western New Mexico Mustangs (1152.7763736297904, 469465.26619292214)
238 (0-0) Grambling State Tigers (1145.9197637441414, 188301.3152018076)
239 (0-2) Texas Southern Tigers (1144.9951961758231, 159225.1653753674)
240 (0-0) San Diego Toreros (1144.2297259039467, 341632.25440535106)
241 (0-0) Lafayette Leopards (1138.2476807251105, 292575.2455155263)
242 (0-1) Wagner Seahawks (1130.4309974577086, 127637.30576926742)
243 (0-1) Arkansas-Pine Bluff Golden Lions (1123.831244773322, 103842.89498442395)
244 (0-1) Morgan State Bears (1109.9233410829, 90015.85514162715)
245 (0-0) Northwestern Oklahoma State Rangers (1107.0934506856452, 360906.05455821543)
246 (0-2) Delaware State Hornets (1089.1206078241464, 127480.93182825633)
247 (0-1) Florida A&M Rattlers (1089.0685914693722, 150130.41425249734)
248 (0-0) Presbyterian College Blue Hose (1082.4488131713872, 116968.28976779568)
249 (0-0) Campbell Camels (1080.2106933281611, 218847.09229441144)
250 (0-0) West Virginia Tech Golden Bears (1072.2233513426875, 397154.14736181055)
251 (0-1) Alabama A&M Bulldogs (1068.87774506533, 100781.97826004175)
252 (0-1) Central Connecticut Blue Devils (1065.1859155398954, 150251.70149409163)
253 (0-1) Jackson State Tigers (1028.5413283638097, 151594.81984732123)
254 (0-0) Mississippi Valley State Delta Devils (997.7344356829525, 192735.5761647005)
255 (0-2) Savannah State Tigers (980.6532188823684, 136608.54753298973)